name: Go
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Get
      run: |
        go get -t -v -mod=readonly ./...

    - name: Build
      run: go build -mod=readonly -v .

    - name: Test
      run: go test -timeout 20m -mod=readonly ./...

    - name: Vet
      run: go vet -mod=readonly ./...
