name: Go
on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        cache: true
        go-version-file: "go.mod"

    - name: Print Go Version
      run: go version

    - name: Build
      run: go build -v .

    - name: Test
      run: go test ./...

    - name: gofmt
      run: |
        if [ "$(find . -iname '*.go' | xargs gofmt -l)" ]
        then
          find . -iname '*.go' | xargs gofmt -d
          exit 1
        fi

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v3

    - name: Run goreleaser check
      uses: goreleaser/goreleaser-action@v4
      with:
        version: latest
        args: check
