name: Go

on:
  push:
    paths-ignore:
      - "README.md"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4

      - name: Set up Go
        uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5
        with:
          cache: true
          go-version-file: "go.mod"

      - name: Print Go Version
        run: go version

      - name: Build
        run: go build -v .

      - name: Test
        run: go test ./...

      - name: gofmt
        run: |
          if [ "$(find . -iname '*.go' | xargs gofmt -l)" ]
          then
            find . -iname '*.go' | xargs gofmt -d
            exit 1
          fi

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@971e284b6050e8a5849b72094c50ab08da042db8 # v4

      - name: Run goreleaser check
        uses: goreleaser/goreleaser-action@286f3b13b1b49da4ac219696163fb8c1c93e1200 # v5
        with:
          version: latest
          args: check
